/* Main settings */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

ul li {
    list-style: none;
}

a:hover {
    text-decoration: underline;
}

address {
    font-style: normal;
}

section {
    position: relative;
    z-index: 2;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

h2 {
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

/* Header */

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
    height: 105px;
    padding-left: 9px;
    padding-right: 9px;
}

.header__logo-image {
    height: 100%;
    object-fit: cover;
}

.header__address {
    max-width: 240px;
    margin-left: auto;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: rgba(0, 0, 0, 1);
}

/* Section Cover */
.cover {
    padding: 50px;
    padding-top: 165px;
    background: url('../images/cover.jpg') center/cover no-repeat;
}

.cover__title {
    margin-bottom: 105px;
    color: white;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    margin-bottom: 20px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description {
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.cover__description-text {
    word-spacing: 19px;
}

.bet-button {
    border: 1px solid white;
    padding: 12px 31px;
    color: white;
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
}

.bet-button:hover {
    color: black;
    background-color: #fff;
}

/* Section Lots */

.lots {
    margin-top: 180px;
    padding-right: 24px;
    padding-left: 24px;
}

.lots__heading {
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 596px;
    padding: 48px 40px;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg") center/cover no-repeat;
}

.card_type_book {
    background: url("../images/card-lot-02.jpg") center/cover no-repeat;
}

.card_type_picture {
    background: url("../images/card-lot-03.jpg") center/cover no-repeat;
}

.card__title {
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: inline-block;
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
}

/* Section About */
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    margin-top: 120px;
    padding-right: 24px;
    padding-left: 24px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-right: 47px;
    margin-left: 47px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__title {
    margin-top: 135px;
    margin-bottom: 100px;
}

.about__text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 158px;
    padding: 0px 50px 82px;
}

.footer__menu-list {
    text-align: center;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.5s;
}

.footer__social-link_youtube:hover {
    box-shadow: 0 0 8px 3px #c71e1e;
}

.footer__social-link_vk:hover {
    box-shadow: 0 0 8px 3px #0073f7;
}

.footer__social-link_pinterest:hover {
    box-shadow: 0 0 8px 3px #e60022;
}

.footer__social-icon {
    height: 100%;
    object-fit: cover;
}

